<h3>Appareils Lisit</h3>
<ul class="list-group">

 
  <li
   [ngClass]="{
    'list-group-item':true,
    'list-group-item-danger':app.status==='Eteint',
    'list-group-item-success':app.status==='Allumé'

  }" 
  *ngFor="let app of appareils">
  <div
  *ngIf="app.status==='Eteint'" style="width: 10px;
  height: 10px;
  background-color: red;"></div>
  {{app.name}} - {{app.status}}</li>



</ ul>

<button class="btn btn-primary mt-3 mx-4" (click)="onallumer()">Allumer tout</button>
<button  class="btn btn-danger mt-3" (click)="oneteint()">Etiendre tout</button>
<br>
 <input type="text" [(ngModel)]="name" placeholder="Enter your name"  class="mt-4"/>
<p>Hello, {{ name }}!</p>